/* =========================
    RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    font-family:"Lato",sans-serif;
    background:#0f172a;
    color:white;
    height: 100%;
    overflow:hidden;
}

/* =========================
    DASHBOARD PRINCIPAL
========================= */

.dashboard{
    height: 100vh;
    display:grid;
    gap:10px;
    padding:20px;
    grid-template-columns:
        200px
        1fr
        150px
        200px
        200px;
    
    grid-template-rows:
        40px
        10px
        1fr
        60px
        100px;

    grid-template-areas:
        "sidebar header header environment statistics"
        "sidebar terminal acceso-rapido environment statistics"
        "sidebar terminal acceso-rapido contraceñas statistics"
        "atajos terminal acceso-rapido contraceñas statistics"
        "atajos herramientas herramientas herramientas statistics"
        ;

}

.box {
    background:#1e293bcc;
    border-radius:20px;
    padding: 12px;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:
    0 5px 20px rgba(0,0,0,.3);
}

.sidebar { grid-area: sidebar; }
.header { grid-area: header; }
.environment { grid-area: environment; }
.statistics { grid-area: statistics; }
.terminal { grid-area: terminal; }
.acceso-rapido { grid-area: acceso-rapido; }
.contraceñas { grid-area: contraceñas; }
.atajos { grid-area: atajos; }
.herramientas { grid-area: herramientas; }